:root{
 --black-border: #000;
 --text-color: #000;
 --main-color: #8262b5;
 --footer-text-color: #545454;
 --footer-title-text-color: #fff;
 --footer-hover-text-color: #fff;
 --footer-background-color: #222222;
}

html{
	font-size: 62.5%!important; 
	font-family: 'Montserrat';
	position: relative;
	width: 100%;
}

.container-fluid{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
/*CSS Header*/
.header-top-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 4.6rem;
	font-size: 1.5rem;
	color: #525252;
	background-color: #000;
}

.header-top-menu .header-top-title{
	margin-left: 3rem;
}

.header-top-menu .header-top-function{
	display: flex;
	margin-right: 3rem;
}

.header-top_menu .header-top-function .header-top-function-setting{
	padding-right: 5rem;
}

.navbar{
	width: 100%;
	height: 100%;
	border-bottom: 1px solid black;
	z-index: 9999;
}

.navbar-brand{
	max-width: 100%;
	max-height: 100%;
}

.nav-link{
	color: black;
	font-size: 1.4rem;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 1.5rem;
	box-sizing: border-box;
	font-family: 'Montserrat';
}

.nav-item a:hover{
	color: var(--main-color);
	transition: .5s ease;
}

.navbar-toggler-icon{
	background-color: var(--text-color);
}

.navbar-toggler-icon:before{
	content: '\2630';
	color: #fff;
	vertical-align: middle;
}

.navbar-toggler{
	font-size: 2rem;
}

.header-cart li{
	list-style: none;
}

/* End CSS Header*/
/*CSS Container-banner*/

.container{
	margin-top: 3.6rem;
}

.left-banner, .right-banner{
	width: 100%;
	height: 100%;
	position: relative;
}

.img-bg{
	max-width: 100%;
	max-height: 100%;
}

.left-banner .img-left-banner{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
}

.img{
	max-width: 100%;
	max-height: 100%;
}

.left-banner .content-left-banner{
	font-family: 'Pacifico';
	font-size: 3rem;
	position: absolute;
	top: calc(50% + 6rem);
	left: calc(50% + 34rem);
	transform: translate(-50%,-50%);
	color: var(--text-color);
}

.left-banner .button-left-banner{
	position: absolute;
	top: calc(50% + 10rem);
	left: calc(50% + 22rem);
	transform: translate(-50%,-50%);
}

.button-banner{
	outline: none;
	border: none;
	color: #fff;
	font-size: 1.4rem;
	background-color: var(--main-color);
	height: 4rem;
	width: 10.6rem;
}

.img-contain{
	position: relative;
}

.img-right-banner-up{
	position: absolute;
	top: 0;
}

.content-right-banner-up{
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	text-transform: uppercase;
	left: calc(50% + 7rem);
	font-family: 'Montserrat';
}

.normal-content{
	font-size: 2rem;
	color: #727576;
}

.bold-content{
	font-size: 2rem;
	font-weight: 700;
	color: var(--text-color);
}

.right-banner-down{
	margin-top: 3rem;
}

.content-right-banner-down{
	position: absolute;
	text-transform: uppercase;
	top: calc(50% - 1rem);
	left: calc(50% - 7.5rem);
	transform: translate(-50%,-50%);
	letter-spacing: .2rem;
}

.button-right-banner-down{
	position: absolute;
	top: calc(50% + 3.5rem);
	left: calc(50% - 8rem);
	transform: translate(-50%,-50%);
}

/*End CSS Container-banner*/
/*CSS Container-products*/
.products-header{
	margin-top: 7.7rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .7rem;
}

.prodcuts_title_name_brand{
	color: var(--main-color);
	font-size: 1.2rem;
}

.products_title_content{
	margin-top: 1.5rem;
	color: var(--text-color);
	font-size: 2.4rem;
	letter-spacing: .5rem;
}

.products_title_border_bottom{
	margin-top: 2.5rem;
	border-bottom: 1px solid grey;
	width: 5rem;
}

.products-list{
	margin-top: 3rem;
}

.product-img{
	position: relative;
}

.add-to-cart{
	position: absolute;
	left: calc(50% - 8rem);
	top: calc(50% + 13.5rem);
	transform: translate(-50%, -50%);
}

.product-img{
	margin-top: 2rem;
}

.product-img img{
	max-width: 100%;
}

.add-to-cart-button{
	width: 12rem;
	height: 4rem;
	border: none;
	outline: none;
	text-transform: uppercase;
	color: var(--text-color);
	font-weight: 700;
	font-size: 1.2rem;
	background-color: #fff;
}
.products-details-name-product{
	font-size: 1.4rem;
	font-family: "Montserrat";
	letter-spacing: 0;
}

.products-details-name-product{
	margin-top: 1.8rem;
}

.products-details-name-product,
.products-details-name-product:first-letter{
	color: var(--text-color);
	font-size: 1.5rem;
	font-weight: 700;
}

.products-details-price{
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	margin-top: 2rem;

}

.products-details-price:after{
	content: '$84.00';
	color: var(--main-color);
	font-weight: 700;
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
}

.products-details-rating{
	margin-top: 1rem;
}

.products-details-rating i{
	font-size: 1.3rem;
	color: #d1d1d1;
}

.products-details-rating i.rated{
	color: #f8ba04;
}


.products-details-name-product:first-letter{
	text-transform: uppercase;
}
/*End CSS container products*/
/*CSS container blogs*/
.company_blogs{
	position: relative;
	background-image: url(../images/bg.jpg);
	width: 100%;
	max-height: 75rem;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 3;
	margin-top: 10rem;
}

.company_blogs > .overlay{
	background-color: rgba(255,255,255,0.7);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.company_blogs > .company_blogs_title{
	margin-top: 6.8rem;
	text-transform: uppercase;
	font-weight: 700;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	font-size: 1.2rem;
	font-family: "Montserrat";
}

.company_blogs > .company_blogs_title .latest{
	font-size: 1.2rem;
	color: var(--main-color);
	letter-spacing: .5rem;
}

.company_blogs > .company_blogs_title .new_event{
	font-size: 2.4rem;
	color: var(--text-color);
	margin-top: 1.5rem;
	font-weight: 700;
	letter-spacing: .3rem;
	margin-left: 1rem;
	font-family: "Montserrat";
}

.company_blogs > .company_blogs_title .borders{
	border-bottom: 2px solid var(--main-color);
	width: 5rem;
	margin-top: 2rem;
}

.company_blogs_post_content{
	background-color: #fff;
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.company_blogs_post{
	margin-bottom: 15rem;
}

.blog-img{
	width: 100%;
	height: 20rem !important;	
}

.company_blogs_post_content_title{
	margin: 2rem 0 0 2rem;
}

.company_blogs_post_content_title{
	font-weight: 600;
	font-size: 1.6rem;
	font-family: "Montserrat";
	color: var(--text-color);
}

.company_blogs_post_content_description{
	margin-top: 5rem;
	text-align: justify;
	margin-left: 2rem;
	width: 30rem;
	font-size: 1.4rem;
	color: var(--text-color);
	font-family: 'Open Sans', sans-serif;
}

.blog-img{
	filter: grayscale(100%);
}

.blog-img img{
	max-width: 100%;
	max-height: 100%;
}

.blog-content{
	padding-bottom: 3rem;
}

.blog-img:hover
{
	filter: grayscale(0);
	transition: .4s ease-in;
}

.blog-content .company_blogs_post_content_title:hover{
	color: var(--main-color);
	transition: .4s ease-in;
}

.blog-content:hover{
	text-decoration: none;
}

.border_content{
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	margin-left: 0;
}

.company_blogs .company_blogs_post .company_blogs_post_content
.company_blogs_post_content_reaction{
	display: flex;
	margin: 2rem 2rem;
	font-size: 1.4rem;
	font-family: 'Open Sans', sans-serif;
}

.company_blogs .company_blogs_post .company_blogs_post_content
.company_blogs_post_content_reaction .company_blogs_post_content_like{
	margin-left: 3rem;
}

.company_blogs .company_blogs_post .row .col-xl-12 .company_blogs_post_content
.time_posted{
	width: 6rem;
	height: 6rem;
	position: absolute;
	top: 0;
	z-index: 3;
	margin-left: 2rem;
	margin-top: 2.5rem;
	background-color: #a1d1dd;
}

.company_blogs .company_blogs_post .row .col-xl-12 .company_blogs_post_content
.time_posted .time_and_date{
	border: 1px solid #fff;
	margin: 1rem;
	width: 4rem;
	height: 4rem;
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 550;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
      /* Center slide text vertically */
 	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container .swiper-pagination{
	margin-bottom: 5rem;
}
.swiper-container .swiper-pagination-bullet {

      text-align: center;
      line-height: 20px;
      font-size: 12px;
      opacity: 1;
      background: rgba(116,87,161,0.4);
    }
.swiper-container .swiper-pagination-bullet-active {
      color: var(--main-color);
      background: var(--main-color);
      transform: scale(1.5);
      transition: .4s ease-in;
    }

 .img-content{
 	width: 100%;
 	height: 18.1rem;
 }

/*End CSS blogs*/
/*CSS footer*/
footer{
	width: 100%;
	position: absolute;
	background-color: var(--footer-background-color);
}

footer .footer_about_us .footer_about_us_title,
footer .footer_navigation .footer_navigation_title,
footer .footer_address .footer_address_title
{
	font-size: 1.6rem;
	color: var(--footer-title-text-color);
	font-family: "Montserrat";
	margin-top: -1rem;
}

footer .footer_navigation{
	margin-left: 1rem;
}

footer .footer_address{
	margin-left: 2.5rem;
}

footer .first-menu{
	border-bottom: 1px solid rgba(0,0,0,0.3);
	margin-top: 3rem;
}

footer .footer_about_us .footer_about_us_title_border,
footer .footer_navigation .footer_navigation_title_border,
footer .footer_address .footer_address_title_border
{
	border-bottom: 1px solid rgba(0,0,0,0.3);
	margin-top: 2.5rem;
}

footer .footer_about_us .footer_about_us_content{
	font-size: 1.4rem;
	color: var(--footer-text-color);
	margin-top: 2.3rem;
	font-family: 'Open Sans', ;
}

footer .footer_about_us .footer_about_us_social_links{
	margin-top: 3rem;
	font-size: 1.5rem;
	color: var(--footer-text-color);
	margin-bottom: 3rem;
}

footer .footer_about_us .footer_about_us_social_links i{
	margin-right: 3rem;
	margin-bottom: 3rem;
}

footer .footer_navigation_menu{
	display: flex;
	justify-content: space-between;
	font-size: 1.4rem;
	margin-bottom: 5rem;
}

.footer_navigation_menu ul li{
	margin-top: 1.6rem;
}

footer .footer_navigation_menu a{
	color: var(--footer-text-color);
	text-decoration: none;
	font-family: 'Open Sans';
}

footer .footer_navigation_menu a:hover{
	text-decoration: underline;
	color: var(--footer-hover-text-color);
}

.footer_navigation_menu_left{
	margin-top: 1rem;
}

footer .footer_navigation_menu .footer_navigation_menu_right{
	margin-right: 4.7rem;
	margin-top: 1.1rem;
	line-height: 1.1rem;
}

footer .footer_address .footer_address_content{
	margin-top: 2.4rem;
	color: var(--footer-text-color);
	font-size: 1.5rem;
}

footer .footer_address .footer_address_content div{
	margin-top: 3rem;
	display: flex;
}

footer .footer_address .footer_address_content 
.footer_address_information{
	margin-left: 1rem;
	text-align: left;
	display: block;
	width: 18rem;
	color: var(--footer-text-color);
}

footer .copyright_payment{
	color: var(--footer-text-color);
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
}

footer .copyright_payment .footer_copyright .footer_copyright_title i{
	color: red;
}

footer .copyright_payment .footer_copyright .footer_copyright_title a{
	color: #fff;
	text-decoration: none;
}

footer .copyright_payment .footer_payment{
	display: flex;
}

footer .copyright_payment .footer_payment div{
	margin-left: 1rem;
}
/*End CSS footer*/

.second-menu{
	margin-bottom: 3rem;
	margin-left: -2rem;
}

.navbar-brand{
	max-width: 50%;
}

@media only screen and (min-width: 320px) and (max-width: 425px){
	.header-cart{
		display: flex;
		font-size: 2rem;
		position: absolute;
		left: calc(50% + 3.5rem);
		top: 50%;
		transform: translate(-50%,-50%);
	}

	.a{
		margin-right: 2rem;
	}

	.a i, .b i{
		color: black;
	}

}

@media only screen and (min-width: 320px) and (max-width: 600px) {
	.img-content{
	 	width: 100%;
	 	height: 18.1rem;
	 }

	.header-top-title{
		display: none;
	}
	
	.header_top-function-setting{
		margin: 0;
	}

	.header_top_function{
		width: 100%;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.header-top-function{
		margin-left: 1rem;
	}

	.header-top-function-login{
		margin-left: 2rem;
	}

	.navbar{
		border: none;
	}

	.nav-link{
		margin-top: 1rem;
		border-bottom: 1px solid black;
		width: 100%;
		margin-left: 0;
		padding-bottom: 1.5rem;
	}

	.nav-item:last-child a{
		border-bottom: none;
		padding-bottom: 0;
	}


	.nav-item:nth-child(8) a
	{
		display: none;
	}

	.left-banner, .right-banner{
		max-width: 32rem;
	}

	.right-banner, .left-banner{
		padding: 0;
		margin: auto;
	}

	.content-left-banner{
		position: absolute;
		top: calc(50% + 3rem) !important;
		left: calc(50% + 7rem) !important;
		font-size: 1rem !important;
		z-index: 3;
		width: 15rem;
		text-align: center;
	}

	.button-left-banner{
		top: calc(50% + 6rem) !important;
		left: calc(50% + 7rem) !important;
		transform: translate(-50%,-50%);
	}

	.img-left-banner img{
		margin-top: -.1rem;
	}

	.products-list{
		display: flex;
		justify-content: center;
		text-align: center;
		width: 100%;
		margin: 0 auto;
	}

	.right-banner{
		display: flex;
		width: 100%;
		flex-direction: column;
	}

	.right-banner{
		margin-top: 1rem;
	}

	.right-banner-down{
		margin-top: 1rem;
	}

	.content-right-banner-up,
	.content-right-banner-down{
		top: 50%;
		left: 50%;
	}

	.bold-content{
		width: 20rem;
	}

	.img-right-banner-down img{
		width: 100%;
	}

	.button-right-banner-down{
		top: calc(50% + 4.5rem);
		left: calc(50% - 4.5rem);
		transform: translate(-50%,-50%);
	}

	.item{
		display: flex;
		width: 100%;
		flex-direction: column-reverse;
		margin-top: 3rem;
	}

	.products_title{
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    text-align: center;
	    align-items: center;
	}

	.product-img{
		max-width: 32rem;
		margin: auto;
	}

	.add-to-cart{
		top: calc(50% + 13.5rem);
		left: calc(50% - 6.5rem);
		transform: translate(-50%,-50%);
		max-width: 100%;
	}

	.products-details{
		margin-bottom: 2rem;
	}

	.company_blogs_post_content{
		max-width: 32rem;
		margin: auto;
	}
	
	footer{
		display: flex;
		flex-direction: row;
	}

	.footer_about_us_title_border,.footer_address_title_border,
	.footer_navigation_title_border{
		display: none;
	}

	.footer_about_us_content{
		text-align: left;
	}

	.footer_about_us_social_links{
		margin-bottom: 0rem !important;
	}

	.footer_about_us_title, .footer_navigation_title,.footer_address_title{
		font-weight: 700;
	}
	
	.footer_navigation, .footer_about_us,.footer_address{
		margin-top: 2rem;
		border-bottom: 1px solid rgba(0,0,0,0.3);
		padding-left: 3rem;
	}

	.footer_address{
		border-bottom: none;
	}

	.footer_navigation_menu,.footer_address{
		margin-bottom: 3rem;
	}

	.footer_address{
		margin-top: 3rem;
	}

	.footer_copyright_title span{
		display: none;
	}

	.footer_copyright_title:after{
		content: '\00a9 Copyright by ArrowHitech';
		font-size: 1.2rem;
		text-align: center;
		margin-left: 3rem;
	}
}

@media only screen and (min-width: 601px) and (max-width: 767px){
	.left-banner{
		padding: 0;
	}

	.header-cart{
		display: none;
	}
	
	.navbar{
		border: none;
	}

	.nav-link{
		margin-top: 3rem;
		border-bottom: 1px solid black;
		width: 100%;
		margin-left: 0;
		padding-bottom: 3rem;
	}

	.right-banner{
		margin-top: 1rem;
		padding: 0;
		max-width: 61rem;
		display: flex;
	}

	.products-list{
		display: flex;
		justify-content: center;
		text-align: center;
		width: 100%;
		margin: 3rem auto;
	}

	.item{
		display: flex;
		width: 100%;
		flex-direction: column-reverse;
		margin-top: 3rem;
		padding: 0 3rem !important;
	}

	.products-details{
		margin-bottom: 2rem;
	}

	.header-top-function{
		margin-left: 1rem;
		font-size: 1.2rem;
	}

	.header-top-function-login{
		margin-left: 2rem;
	}

	.header-top-title{
		font-size: 1.2rem;
		margin-left: 2rem;
	}

	.button-left-banner{
		
		bottom: 10rem !important;
		right: 7rem !important;
	}

	.content-left-banner{
		bottom: 15rem !important;
		right: 7rem !important;
		z-index: 3;
	}

	.right-banner-down{
		margin-top: 0;
		height: 100%;
		width: 50%;
		padding-left: 1rem;
	}

	.right-banner-up{
		width: 50%;
		padding-right:  1rem;
		height: 100%;
	}

	.img-right-banner-down img{
		height: 14.45rem;
		width: 100%;
	}

	.navbar-toggler{
		margin-right: 1rem;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px){

	.left-banner{
		padding: 0;
	}

	.products-list{
		display: flex;
		justify-content: center;
		text-align: center;
		width: 100%;
		margin: 3rem auto;
	}

	.item{
		display: flex;
		width: 100%;
		flex-direction: column-reverse;
		margin-top: 3rem;
	}

	.header-top-function{
		margin-left: 1rem;
		font-size: 1.2rem;
	}

	.header-top-function-login{
		margin-left: 2rem;
	}

	.header-top-title{
		font-size: 1.2rem;
		margin-left: 2rem;
	}

	.products-details{
		margin-bottom: 2rem;
	}

	.button-right-banner-down{
		left: 5rem;
	}

	.content-right-banner-down{
		left: 5rem;
	}

	.right-banner{
		margin-top: 1rem;
		padding: 0;
		max-width: 67.8rem;
		display: flex;
	}
	.right-banner-down{
		margin-top: 0;
		height: 100%;
		width: 50%;
		padding-left: 1rem;
	}

	.right-banner-up{
		width: 50%;
		padding-right:  1rem;
		height: 100%;
	}

	.img-right-banner-down img{
		height: 18.277rem;
		width: 100%;
	}

	.add-to-cart{
		left: 5rem;
	}

	.header-cart{
		display: none;
	}
	
	.navbar{
		border: none;
	}

	.nav-link{
		margin-top: 3rem;
		border-bottom: 1px solid black;
		width: 100%;
		margin-left: 0;
		padding-bottom: 3rem;
	}

	.navbar-toggler{
		margin-right: 1rem;
		font-size: 2rem;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
	.right-banner{
		margin-top: 0;
		padding-left: 1.5rem;
	}

	.img-content{
	 	width: 100%;
	 	height: 18.1rem;
	 }

	.img-right-banner-down{
		margin-top: -2rem;
	}

	.img-right-banner-down img{
		margin-top: 1rem;
	}

	.navbar {
		width: 100%;
	}

	.navbar-nav li a{
		margin: 0 1rem;
	}

	.header-cart{
		position: absolute;
		right: 0;
		font-size: 1.5rem;
	}

	.item{
		max-width: 100%% !important;
	}

	.product-img{
		width: 90%;
	}

	.left-banner{
		padding-right: 1.5rem;
	}

	.nav-item:nth-child(9) a,
	.nav-item:nth-child(10) a{
		display: none;
	}

	.products-details{
		margin-bottom: 2rem;
	}

	.header-cart{
		display: flex;
		margin-left: 4rem;
	}

	.header-cart > .nav-item a.link-shopping-cart{
		margin: 0 3rem;
	}

	.header-cart > .nav-item a{
		padding: 0;
		margin: 0;
	}

	.header_top-function-setting{
		margin-right: 3rem;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1344px){
	.right-banner{
		margin-top: 0;
		padding-left: 1.5rem;
	}

	.img-left-banner img{
		height: 100%;
	}

	.img-right-banner-down{
		margin-top: -1rem;
	}

	.img-right-banner-down img{
		margin-top: 1rem;
	}

	.navbar {
		width: 100%;
	}

	.navbar-nav li a{
		margin: 0 1rem;
	}

	.header-cart{
		position: absolute;
		right: 0;
		font-size: 1.5rem;
	}

	.item{
		max-width: 100% !important;
	}

	.product-img{
		width: 100%;
		margin-top: 3rem;
	}

	.left-banner{
		padding-right: 1.5rem;
	}

	.nav-item:nth-child(9) a,
	.nav-item:nth-child(10) a{
		display: none;
	}

	.header-cart{
		display: flex;
		margin-left: 4rem;
	}

	.header-cart > .nav-item a.link-shopping-cart{
		margin: 0 3rem;
	}

	.header-cart > .nav-item a{
		padding: 0;
		margin: 0;
	}

	.header_top-function-setting{
		margin-right: 3rem;
	}
}

@media only screen and (min-width: 1345px){
	.header_top-function-setting{
		margin-right: 3rem;
	}

	.img-left-banner img{
		height: 100%;
	}

	.header-cart{
		display: flex!important;
		justify-content: flex-end!important;
	}

	.nav-item:nth-child(9) a,
	.nav-item:nth-child(10) a{
		display: none;
	}

	.header-cart{
		display: flex;
		margin-left: 4rem;
		position: absolute;
		right: 0;
		font-size: 1.5rem;
	}

	.a i, .b i{
		color: black;
	}

	.header-cart > .nav-item a.link-shopping-cart{
		margin: 0 3rem;
	}

	.header-cart > .nav-item a{
		padding: 0;
		margin: 0;
	}

	.header_top-function-setting{
		margin-right: 3rem;
	}

	.item{
		max-width: 100%% !important;
	}

	.product-img{
		width: 100%;
	}
}
